<div>
    <h1>Christopher Jacobs</h1>
    <h2>Zoek op plaats</h2>
    <div>
        <form action="/inhaal" method="GET">
            <input type="text" placeholder="naam" name="naam">
            <input type="submit" ><br><br>
    </div>
    </form>
    <h2>Zoek aantal snelheids overtredingen</h2>
    <div>
        Aantal overtredingen: <input type="number" [(ngModel)]="snelheid"><br>
        <input type="submit" value="Get" (click)="getAantal()"><br><br>
        <h2 *ngFor="let item of snelheidList;">
        </h2>
    </div>

</div>

<router-outlet></router-outlet>